name: Windows CI

on: [push, pull_request]

jobs:
  ci:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}

    env:
      CTEST_OUTPUT_ON_FAILURE: ON
      CTEST_PARALLEL_LEVEL: 2

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: windows-2019-cl-x86
            os: windows-2019
            generator: Visual Studio 16 2019
            type: Debug
            platform: Win32
            conan_arch: x86

          - name: windows-2019-cl-x64
            os: windows-2019
            generator: Visual Studio 16 2019
            type: Debug
            platform: x64
            conan_arch: x86_64

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install
        run: |
          python -m pip install cmake==3.17.3 conan==1.28.1 --upgrade
          conan profile new default --detect --force
          mkdir -p build && cd build
          conan install .. --build=missing -s arch=${{ matrix.conan_arch }} -s build_type=${{ matrix.type }}

      - name: Build
        shell: bash # CMake doesn't like paths with backslashes.
        run: |
          cmake -S . -B build -G "${{ matrix.generator }}" -A ${{ matrix.platform }} -DCMAKE_PREFIX_PATH=`pwd`/build -DCMAKE_MODULE_PATH=`pwd`/build
          cmake --build build --config ${{ matrix.type }}
